<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appnov26">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lab0Activity" />
        <activity android:name=".Lab1Activity" />
        <activity android:name=".VIR" />
        <activity android:name=".EquivalentResistance" />
        <activity android:name=".TimeConstant" />
        <activity android:name=".Lab7Activity" />
        <activity android:name=".TimeConstantRL" />
        <activity android:name=".PassiveFilterCutoff" />
        <activity android:name=".Lab9Activity" />
        <activity android:name=".Lab5Activity" />
        <activity android:name=".Inverting" />
        <activity android:name=".NonInverting" />
        <activity
            android:name=".LEDDiagram"
            android:label="@string/title_activity_leddiagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lab8Activity"
            android:label="@string/title_activity_lab8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CriticallyDamped"
            android:label="@string/title_activity_critically_damped"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Lab2Activity" />
        <activity
            android:name=".VoltageDivider"
            android:label="@string/title_activity_voltage_divider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Multimeter"
            android:label="@string/title_activity_multimeter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lab3Activity"
            android:label="@string/title_activity_lab3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TheveninEquiv"
            android:label="@string/title_activity_thevenin_equiv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OpAmpDiagram" />
        <activity android:name=".Lab4Activity"></activity>
    </application>

</manifest>